body {
  height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #a200ff8c, #87f7ff8c, #a200ff8c);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 20px 1fr;
  justify-items: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  background-color: white;
}

.center {
  font-size: 44px;
  line-height: 1.3;
  width: 100%;
  padding: 0;
  text-align: center;
  color: #0003b4;
  background-color: #ffffff;
  margin: 0 auto;
  font-weight: bold;
}

.heading2 {
  font-size: 32px;
}
/* 
.flexComic {
  display: flex;
  flex-direction: column;
  gap: 64px;
} */

.flexComic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 64px;
}

.single {
  padding: 0 24px;
  padding-top: 0px;
  padding-bottom: 48px;
}

.background {
  background-color: #ffffff;
  padding: 48px;
  padding-bottom: 0px;
  border-radius: 20px;
}

.link {
  text-transform: uppercase;
  /* text-decoration: none; */
  color: #0003b4;
  font-weight: bold;
  background-color: #ffffff;
  margin-top: 32px;
  padding: 24px 48px;
}

.back {
  font-size: 20px;
  font-weight: normal;
}
